[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
injective-py = "*"
pandas = "*"
bip-utils = "*"
cosmpy = "*"
asyncio = "*"
protobuf = "*"

[dev-packages]

[requires]
python_version = "3.10"
